<ul class="nav nav-pills submission-nav" style="margin-top:20px;">
  <li role="presentation" ng-class="{active:isActive(basePath + 'form.submission.view')}"><a ui-sref="{{ basePath }}form.submission.view()">View Submission</a></li>
  <li role="presentation" ng-class="{active:isActive(basePath + 'form.submission.edit')}"><a ui-sref="{{ basePath }}form.submission.edit()">Edit Submission</a></li>
  <li role="presentation" ng-class="{active:isActive(basePath + 'form.submission.delete')}"><a ui-sref="{{ basePath }}form.submission.delete()">Delete Submission</a></li>
</ul>
<div ui-view style="margin-top: 20px;"></div>
