<formio-component component="resourceSelect" data="data"></formio-component>
<formio-component ng-if="data.resource" component="propertyField" data="data"></formio-component>
<fieldset ng-if="data.resource">
  <legend>Resource Fields</legend>
  <div class="well">Below are the fields within the selected resource. For each of these fields, select the corresponding field within this form that you wish to map to the selected Resource.</div>
  <formio-component ng-repeat="resourceComponent in resourceComponents" component="resourceComponent" data="data.fields"></formio-component>
</fieldset>
